<ion-tabs (ionTabsWillChange)="onTabsWillChange($event)">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon src="assets/icon/menu01.svg"></ion-icon>
      <ion-label>Menu01</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon src="assets/icon/menu02.svg"></ion-icon>
      <ion-label>Menu02</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon src="assets/icon/menu03.svg"></ion-icon>
      <ion-label>Menu03</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon src="assets/icon/menu04.svg"></ion-icon>
      <ion-label>Menu04</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="login">
      <ion-icon src="assets/icon/login.svg"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>